.card__review {
  color: #fff;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 105.56%;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}

@media (max-width: 800px) {
  .card__review {
    font-size: 15px;
  }
}
