.order__price {
  color: #9731eb;
  text-align: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 105.56%;
  text-align: center;
}
