.compound {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background-image: linear-gradient(
    92.88deg,
    #208b20 9.16%,
    #1bb977 43.89%,
    #80e78e 64.72%
  );
}

@media (max-width: 800px) {
  .compound {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
}
